baseURL = 'http://camilamaschion.com/'
copyright = "{year}"
languageCode = 'pt-BR'
defaultContentLanguage = 'en'
theme = 'clean-theme'
title = 'Notas de Android: Registro de Estudo e Ideias Tech'
enableRobotsTXT = true
summaryLength = 15
paginate = 5


[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ''
    hl_inline = false
    lineAnchors = ''
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = false
    noClasses = true
    noHl = false
    style = 'dracula'
    tabWidth = 4
